.page {
    padding: 15;
}

.titulo {
    font-size: 26;
    font-weight: bold;
    margin-bottom: 10;
}

.datos-equipo {
    padding: 10;
    margin-bottom: 10;
    border-width: 1;
    border-color: #cccccc;
    border-radius: 6;
}

.codigo {
    font-size: 15;
    font-weight: bold;
}

.nombre {
    font-size: 21;
    font-weight: bold;
    margin: 5 0;
}

.dato {
    font-size: 15;
    margin: 2 0;
}

.subtitulo {
    font-size: 18;
    font-weight: bold;
    margin: 10 0;
}

.observacion {
    padding: 10;
    margin: 4 0;
    border-width: 1;
    border-color: #dddddd;
    border-radius: 5;
}

.icono {
    font-size: 24;
    text-align: center;
    vertical-align: middle;
}

.descripcion {
    font-size: 15;
    font-weight: bold;
    padding: 3;
}

.usuario {
    font-size: 12;
    padding: 3;
}

.estado-observacion {
    font-size: 12;
    font-weight: bold;
    padding: 3;
}

.votos {
    vertical-align: middle;
}

.btn-voto {
    font-size: 12;
    padding: 3;
    margin: 2;
    min-width: 55;
}