.page {
    padding: 16;
}

.titulo {
    font-size: 24;
    font-weight: bold;
    margin-bottom: 5;
}

.plataforma {
    font-size: 13;
    margin-bottom: 15;
}

.equipo {
    padding: 15;
    margin: 5 0;
    border-width: 1;
    border-radius: 6;
}

.codigo {
    font-size: 14;
    font-weight: bold;
}

.nombre {
    font-size: 18;
    font-weight: bold;
    margin-top: 3;
}

.estado {
    font-size: 13;
    margin-top: 5;
}
