<ActionBar>

    <NavigationButton
        ios:visibility="collapsed"
        icon="res://menu"
        (tap)="onDrawerButtonTap()">
    </NavigationButton>

    <ActionItem
        icon="res://menu"
        android:visibility="collapsed"
        (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>

    <Label text="MineControl"></Label>

</ActionBar>


<GridLayout
    rows="auto, auto, *"
    class="page">

    <!-- Cabecera -->

    <StackLayout
        row="0"
        padding="20">

        <Label
            text="MineControl"
            fontSize="26"
            fontWeight="bold">
        </Label>

        <Label
            text="Equipos seleccionados para Leer ahora"
            textWrap="true"
            fontSize="16"
            marginTop="5">
        </Label>

    </StackLayout>


    <!-- Contador obtenido del estado reactivo -->

    <Label
        row="1"
        [text]="'Equipos en lectura: ' + equiposLeerAhora.length"
        marginLeft="20"
        marginRight="20"
        marginBottom="10"
        fontWeight="bold">
    </Label>


    <!--
        REQUISITO REDUX / NGRX

        Este ListView se actualiza reactivamente
        a partir de store.select(selectLeerAhora).
    -->

    <ListView
        row="2"
        [items]="equiposLeerAhora">

        <ng-template let-equipo="item">

            <StackLayout
                padding="15"
                margin="5">

                <Label
                    [text]="equipo.codigo"
                    fontSize="14"
                    fontWeight="bold">
                </Label>

                <Label
                    [text]="equipo.nombre"
                    fontSize="18"
                    fontWeight="bold"
                    textWrap="true">
                </Label>

                <Label
                    [text]="'Area: ' + equipo.area"
                    marginTop="5">
                </Label>

                <Label
                    [text]="'Estado: ' + equipo.estado"
                    marginTop="3">
                </Label>

                <Button
                    text="QUITAR DE LEER AHORA"
                    (tap)="quitar(equipo)"
                    marginTop="10">
                </Button>

            </StackLayout>

        </ng-template>

    </ListView>

</GridLayout>